.container {
  width: 800px;
  text-align: left;
  margin: 20px;
}
.root {
  max-width: 345px;
}

.avatar {
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
}

.link {
  text-decoration: none;
  box-shadow: none;
  color: white;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
  transition: transform 0.5s ease;
}

.expandOpen {
  transform: rotate(180deg);
  margin-left: auto;
  transition: transform 0.5s ease;
}

.commentsContainer {
  
}